body{
  background-image: url("../img/body2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container{
  animation-name: slide-animacion;
  animation-duration: 3s;
}
  @keyframes slide-animacion{
    0%{
        margin-top: 150%;

    }

    60%{
      margin-top: -5%;


    }

    100%{
      margin-top: 0;
    }
  }



.con-logo2 h1{
  font-family: sans-serif;
  color: red;
  text-align: center;
  text-shadow: 1px 2px 3px black;
  font-size: 1.3em
}

.header{
  background: black;
  padding: 20px;
}

.borde{
  border: outset 1px rgb(12,21,178);
  }

.borde:hover{
 background: rgba(12,21,178,0.75);
 color:red;
}
.enlace-nav{
  font-size: 20px;
  color:white;
  }

  .galeria img{
    height: 20em;
  }

.fondo1{
  background: rgba(12,21,178,0.75);
  padding: 30px;
  margin-top: 10px;
}

.fondo2{
  background: rgba(163,153,178,0.75);
}

.servicios h1{
  color:white;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}

.serv-horiz, .items{
  padding left: 0;
  padding-right: 0;

}

.fondo3{
  background: rgba(12,21,178,0.75);
  }

.presentacion p{
  font-size: 20px;
  text-align: justify;
}

.shadow{
  font-size: 20px;
  color: white;
  border: groove;

}

.galeria2 img{
  height: 15em;
  width: 90%;
}

.espacio{
  padding:10px;
}

.img-social{/*formato logo redes sociles*/
 width: 40px;
 height: 40px;
 }

 .dark{
   background: black;
   color: white;
 }

 .mapa{
   width:200px;
   height: 100px;
   padding-bottom: 10px;
 }

 .mapa-contacto{
   width: 800px;
   height: 300px;
   border: 2px groove black;
 }

.i-frame{
  width: 800px;
  height: 200px;


}

.contdir{
  color:black;

  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  border: 2px groove rgba(255, 255, 255, 0.5);
}
.contacto{
  height: 200px;
}

.carousel-inner{
  max-width: 600px;
}

@media screen and (max-width 770px){

}
